# Set active environment: qa | stg | uat
evn=qa

# UI:
QA_URL=https://qa.example.com
STG_URL=https://stg.example.com
UAT_URL=https://uat.example.com

USERNAME=your_username_here
PASSWORD=your_password_here

# API:
API_BASE_URL=your_api_base_url_here
API_AUTH_TOKEN=your_Bearer_token_here

# API_HTTP_USERNAME=your_http_username_here
# API_HTTP_PASSWORD=your_http_password_here
